@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root
{
	--color-main: #396aff;
	--bg: #fbfefd;
	--bg2: #dce5ff;
	--main-accent: #e9eefd;
	--main-text: #4b5876;
	--shadow: rgba(17, 17, 26, 0.1) 2px 2px 16px;
}
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
	transition: 0.5s;
}
body
{
	background: var(--bg2);
	overflow-x: hidden;
}
#menu-toggle
{
	display: none;
}
img
{
	width: 100%;
	height: auto;
}
.sidebar
{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 345px;
	height: 100%;
	padding: 1rem 1.2rem;
}
.sidebar-container
{
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 10px;
	box-shadow: var(--shadow);
	padding: 1.2rem;
	overflow-y: auto;
}
.sidebar-container::-webkit-scrollbar
{
  width: 6px;
}
.sidebar-container::-webkit-scrollbar-track
{
  background: #f1f1f1;
}
.sidebar-container::-webkit-scrollbar-thumb
{
  background: #888;
  border-radius: 10px;
}
.sidebar-container::-webkit-scrollbar-thumb:hover
{
  background: #555;
}
.brand h2
{
	color: #444;
}
.brand h2 span
{
	display: inline-block;
	font-size: 2.5rem;
	color: var(--color-main);
	margin-right: 0.5rem;
}
.sidebar-avatar
{
	display: grid;
	grid-template-columns: 70px auto;
	align-items: center;
	margin: 2rem 0;
	padding: 0.1rem 0.7rem;
	border: 2px solid var(--main-accent);
	border-radius: 7px;
}
.avatar-info
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sidebar-menu li
{
	margin-bottom: 0.2rem;
}
.sidebar-menu a
{
	display: block;
	color: var(--main-text);
	padding: 0.7rem 0;
}
.sidebar-menu a.active
{
	background: var(--main-accent);
	border-radius: 7px;
	padding: 0.7rem;
}
.sidebar-menu a span:first-child
{
	display: inline-block;
	font-size: 1.5rem;
	color: var(--color-main);
	margin-right: 0.8rem;
}
.sidebar-card
{
	background: var(--main-accent);
	text-align: center;
	margin-top: 2rem;
	padding: 1rem;
	border-radius: 15px;
	box-shadow: var(--shadow);
}
.side-card-icon
{
	margin-bottom: 0.8rem;
}
.side-card-icon span
{
	display: inline-block;
	font-size: 8rem;
	color: var(--color-main);
}
.side-card-icon + div
{
	margin-bottom: 1.2rem;
}
.side-card-icon + div p
{
	font-size: 0.8rem;
	color: #555;
}
.btn
{
	padding: 0.7rem 1rem;
	border: none;
	border-radius: 10px;
}
.btn-main
{
	background: var(--color-main);
	color: #fff;
}
.btn-block
{
	display: block;
	width: 100%;
}
.main-content
{
	width: calc(100vw - 345px);
	margin-left: 345px;
	padding: 1rem 1.2rem;
}
header
{
	display: flex;
	justify-content: space-between;
}
.header-title-wrapper
{
	display: flex;
}
.header-title-wrapper label
{
	display: inline-block;
	font-size: 1.8rem;
	color: var(--color-main);
	margin-right: 2rem;
}
.header-title h1
{
	color: var(--main-text);
	font-weight: 600;
}
.header-title p
{
	color: #666;
	font-size: 0.9rem;
}
.header-title p span
{
	display: inline-block;
	font-size: 1.2rem;
	color: red;
	margin-left: 0.5rem;
}