@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root
{
	--color-main: #396aff;
	--bg: #fbfefd;
	--bg2: #dce5ff;
	--main-accent: #e9eefd;
	--main-text: #4b5876;
	--shadow: rgba(17, 17, 26, 0.1) 2px 2px 16px;
}
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
	transition: 0.5s;
}
body
{
	background: var(--bg2);
	overflow-x: hidden;
}
#menu-toggle
{
	display: none;
}
img
{
	width: 100%;
	height: auto;
}
.sidebar
{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 345px;
	height: 100%;
	padding: 1rem 1.2rem;
}
.sidebar-container
{
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 10px;
	box-shadow: var(--shadow);
	padding: 1.2rem;
}
.brand h2
{
	color: #444;
}
.brand h2 span
{
	display: inline-block;
	font-size: 2.5rem;
	color: var(--color-main);
	margin-right: 0.5rem;
}
.sidebar-avatar
{
	display: grid;
	grid-template-columns: 70px auto;
	align-items: center;
}
.avatar-info
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-content
{
	width: calc(100vw - 345px);
	margin-left: 345px;
	padding: 1rem 1.2rem;
}